<section class="creditos">
    <div>
        <h3>Lara Micaela Farina</h3>
        <p>Diseñadora y desarrolladora</p>
    </div>
    <div>
        <h3>Vicente Ruiz Barrea</h3>
        <p>Diseñador y desarrolladora</p>
    </div>
</section>