<div>
    <section class="datosCandidato">
        <div><img src=@ViewBag.detalleCandidato.Foto></div>
        <div class="especificaciones">
            <h1>@ViewBag.detalleCandidato.Nombre @ViewBag.detalleCandidato.Apellido</h1>
            <p>Fecha de Nacimiento:<b>@ViewBag.detalleCandidato.FechaNacimiento</b></p>
            <p>Postulación:<b>@ViewBag.detalleCandidato.Postulacion</b></p>
        </div>
    </section>
</div>