<div>
    @{
        ViewData["Title"] = "Index";
    }
    
</div>

<article class="datosElecciones">
    <div><img src="~/img/lampara.png" width="40px"><h2>¿Qué votamos?</h2></div>
    <p>Los argentinos volverán a las votaciones para nuevamente elegir presidente de la nacion, el cual asumirá el próximo 10 de diciembre.
        Además se cambiara la mitad del Congreso nacional y se votarán gobernadores,
        legisladores, y otros cargos provinciales y municipales.</p>
    <p>se votará, además de Presidente y Vicepresidente de la nacion, jefe de Gobierno de la Ciudad Autónoma 
        de Buenos Aires, y 21 gobernaciones (Excepto Santiago del Estero y Corrientes que votaron en el 2021).
        <br>Se renovaran 130 bancas en Diputados y 24 en el Senado en el congreso.
        <br>En las provincias se votará, además de gobernadores, intendentes, legisladores, y concejales municipales, entre otros cargos politicos.</p>
    <div><img src="~/img/calendario.png" width="30px"><h2>¿Cuándo son las elecciones?</h2></div>
    <p>Las elecciones Primarias, Abiertas, Simultáneas y Obligatorias (PASO) se realizaran el 13 de agosto.
        <br>En cuanto a las Generales ocurriran el 22 de octubre.
        <br>Para ser elegido presidente en la primera vuelta, el candidato más votado debe obtener el 45% de los sufragios
         o debe tener el 40% y una diferencia de 10 puntos con el segundo postulante mas votado. En caso de que ninguno de estos casos ocurra, habrá balotaje, el cual
         se realizara dentro de los 30 días de finalizada la elección general.</p>
    <a href="#"><main id="equipo-electoral">
        <div><p>PASO 2023</p></div>
        <img src="~/img/equipo electoral.jpeg">
        <h3>Instituto de Geston Electoral</h3>
        <p>Nuestro increible equipo, tiene un sistema de gestionamiento de la cantidad de argentinos votantes, votos en blanco, verificacion de modificacion de urnas, y un serio compromiso con la mantencion de la objetividad en el sistema electoral de nuestra nacion.</p>
    </main></a>
</article>