<div class="formulario">
    <form action='@Url.Action("GuardarPartido")' method="post">
        <div class="formulario"><h3>Nombre:</h3><input type="text" name="Nombre"></div>
        
        <div class="formulario"><h3>Logo:</h3><input type="text" name="Logo"></div>
        <div class="formulario"><h3>Sitio Web:</h3><input type="text" name="SitioWeb"></div>
        <div class="formulario"><h3>Fecha Fundacion:</h3><input type="date" name="FechaFundacion"></div>
        <div class="formulario"><h3>Cantidad Diputados:</h3><input type="number" name="CantidadDiputados"></div>
        <div class="formulario"><h3>Cantidad Senadores:</h3><input type="number" name="CantidadSenadores"></div>
        <input type="submit" value="Crear Partido">
    </form>
</div>
